node_modules/
.genkit
.firebase
.a2a-tasks

.env
.github
.gemini/
.specstor
.codeviz/
.vscode/
.idea/
.DS_Store
dist/
build/
coverage/
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnp.*
.pnp.json
.cache/
.next/
out/
.nuxt/
.output

!.codeviz/docs/**.md