node_modules/
.genkit
.firebase
.a2a-tasks

.env
.github
.gemini/
.specstor
.codeviz/
.vscode/
.idea/
.DS_Store
dist/
build/
coverage/
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnp.*


.cache/
.next/
out/
.nuxt/
.output
.specify
.specify/**/*.md
.specify/**/*.sh
!.codeviz/docs/**.md
.codacy
.kilocode
.kilocode/**
.kilocode/.*
.kilocode/.**
.kilocode/workflows/**.md
.kilocode/docs/**.html
.specify/scripts/bash/*.sh
.specify/templates/*.md